  .user{
    display:flex;
    gap:2px;
    background-color: green;
    /* border:2px solid red; */
  }
  .userinfo{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border:2px solid red; */
  }
  .username{
    font-weight: 600;
    color:red;
    /* border:2px solid orange; */
  }
  .list{
    /* border:2px solid orange; */
    padding:10px;
    text-decoration: none;
     

  }
  .cat{
    color:orange;

  }
.logout{
    padding:10px;
    /* gap:10px; */
    width:100%;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid black;
    font-weight: 800;
    
    background-color: grey;
}
.logout:hover{
    background-color: red;
}