@import "tailwindcss";

:root {
--bg:#151c2c;
--bgSoft:#182237;
--text:white;
--textSoft:#b7bac1;
}
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
body{
  background-color:  var(--bg);
  color: var(--text);
}

a{  
  text-decoration: none;
  color: inherit;
}

.home-container {
  height: 100vh;             
  display: flex;
  justify-content: center;    
  align-items: center;       
}

.home-btn {
  width:200px;
  color:black;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-size: medium;
  font-weight: 900;
}